<!-- Navbar -->
<div id='container'>
  <div>
    <nav class="navigation">
      <ul>
        <li>
          <a class="selected" href="#/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="#/stocks">Stocks</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Dashboard -->
  <div ng-controller="dashboardController" class="container">
    <h2>Search Filter</h2>
    <div >
      <input class="filter" type="text" ng-model="search" placeholder="Search.."/>
    </div>
    <div>
      <div>
        <div class="stocks" ng-repeat="stock in data | filter:search">
          <h3> {{stock.Name}} </h3>
          <div> Symbol: {{stock.Symbol}} </div>
          <div> Last Price: {{stock.LastPrice}} </div>
          <div> High: {{stock.High}} </div>
          <div> Low: {{stock.Low}} </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- High Charts USA Graph -->
  <div ng-controller="highchartsController" class="container">
    <h2 id="dashboard"> Personal Dashboard </h2>
    <div class="graphs">
      <highchart config="chartConfig"></highchart>
    </div>
    <div class="graphs">
      <highchart config="usdChartConfig"></highchart>
    </div>
    <div class="graphs">
      <highchart config="pieChartConfig"></highchart>
    </div>
    <div class="graphs">
      <highchart config="areaConfig"></highchart>
    </div>
  </div>
</div>