<!-- Navbar -->
<div id='container'>
  <nav class="navigation">
    <ul>
      <li>
        <a class="selected" href="#/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="#/stocks">Stocks</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Dashboard -->
<div ng-controller="dashboardController">
  <input type="text" ng-model="filter"/>
  <div>
  {{stocks}}
  </div>
  <button ng-click=promiseData('aapl')> Submit </button>
</div>

<!-- High Charts USA Graph -->
<div ng-controller="highchartsController" id="container" style="width:100%; height:400px;">
  <h2> U.S. Stocks </h2>
  <div>{{initialMarket}}</div>
  <highchart id="usChart" config="chartConfig" class="span10"></highchart>

</div>

  <!-- Testing -->
<hr>
<pre>
{{stocks}}
</pre>



