body {
  margin: 0;
  margin-top: 10px;
}

a {
  color: #333;
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}

.usa {
  margin-top: 30px;
  float: right;
}

.stocks {
  float: left;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
  margin: 10px;
  opacity: 0.5;
  border: 10px;
  border-color: black;
  background-color: grey;
}

.logo {
  height: 125px;
  width: 125px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: grey;
  border-width: 5px;
  border-color: black;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  margin-left: 10px;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: darkgrey;
}

.navigation li a.selected {
  background-color: dark;
}
