body {
  margin: 0;
  margin-top: 10px;
  text-shadow: 10px;
  color: #E3F2FD;
  background-color: #616161;
}

a {
  color: #333;
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
  color: #E3F2FD;
}

.chart-bubble {
  background-color: #efefef;
  opacity: 0.8;
}

.ng-scope {
  background-color: #616161;
}

.searcher {
  clear: both;
  width: 30%;
}

.filter {
  clear: both;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.filter:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  width: 20%;
}

#dashboard {
  padding: 20px;
  top-margin: 30px;
  text-align: center;
}

.container {
  position: relative;
  clear: both;
}

.dashboardContainer {
  box-shadow: 20px 20px 20px #888888;
  position: relative;
  clear: both;
}

.graphs {
  float: left;
  width: 50%;
  opacity: 0.8;
}

.highcharts-background {
  fill: #efefef;
  stroke: #a4edba;
  stroke-width: 2px;
}


.search {
  margin: 30px;
}

.stocks {
  float: left;
  height: 200px;
  width: 180px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  opacity: 0.5;
  background-color: #00838F;
}

.stocks-dashboard {
  float: left;
  height: 230px;
  width: 200px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  opacity: 0.5;
  background-color: #607D8B;
}

.logo {
  height: 125px;
  width: 125px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #E8EAF6;
  font-weight: bold;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  margin-left: 10px;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #B2DFDB;
}

.navigation ul li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

}

.navigation ul li:last-child {

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}
