body {
  margin: 0;
  margin-top: 10px;
  text-shadow: 10px;
  text-color: #DDDDDD;
}

a {
  color: #333;
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
}

.searcher {
  position: relative;
}

.filter {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.filter:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  width: 20%;
}

#dashboard {
  float: center;
  padding: 20px;
  top-margin: 30px;
  text-align: center;
}

.container {
  position: relative;
  clear: both;
}

.graphs {
  float: left;
  width: 50%;
  background-color: clear;
  opacity: 0.8;
}

.highcharts-background {
  fill: #efefef;
  stroke: #a4edba;
  stroke-width: 2px;
}

.filter {
  margin: 15px;
}

.search {
  margin: 30px;
}

.stocks {
  float: left;
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  opacity: 0.5;
  border: 10px;
  border-color: black;
  background-color: grey;
}

.logo {
  height: 125px;
  width: 125px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: grey;
  border-width: 5px;
  border-color: black;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  margin-left: 10px;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: darkgrey;
}

.navigation li a.selected {
  background-color: dark;
}
