<!-- Nav Bar -->
<div id='container'>
  <nav class="navigation">
    <ul>
      <li>
        <a href="#/dashboard">Dashboard</a>
      </li>
      <li>
        <a class="selected" href="#/stocks">Stocks</a>
      </li>
    </ul>
  </nav>
</div>
<!-- Stock Adder -->
<div ng-controller='StocksController'>

  <div class="searcher">
    <h2>Stock Adder</h2>
    <input type='text' ng-model='searchText' placeholder="Search for a Stock">
    <button type='submit' ng-click='searcher()'> Submit </button>
  </div>

  <div>
    <input class="filter" type="text" ng-model="search" placeholder="Search.." />
  </div>

  <div class="stocks" ng-repeat="stock in searchData | filter:search">
    <h3> {{stock.Name}} </h3>
    <div> Symbol: {{stock.Symbol}} </div>
    <div> Last Price: {{stock.LastPrice}} </div>
    <div> High: {{stock.High}} </div>
    <div> Low: {{stock.Low}} </div>
    <br>
  </div>

</div>
