<!-- Nav Bar -->
<div id='container'>
  <nav layout="row" class="navigation">
    <ul>
      <li>
        <a href="#/dashboard">Dashboard</a>
      </li>
      <li>
        <a class="selected" href="#/stocks">Stocks</a>
      </li>
    </ul>
  </nav>
</div>
<!-- Stock Adder -->
<div ng-controller='StocksController'>
  <form ng-submit="searcher()" layout="column" class="searcher">
    <h2>Stock Adder</h2>
    <input type='text' ng-model='searchText' placeholder="Search for a Stock" ng-submit='searcher()'>
    <button type='submit' > Submit </button>
  </form>
  <br>
  <br>
  <div>
    <input class="filter" type="text" ng-model="search" placeholder="Filter.." />
  </div>
  <div layout="row">
    <div layout="column" class="stocks" ng-repeat="stock in searchData | filter:search">
      <h3> {{stock.Name}} </h3>
      <div> Symbol: {{stock.Symbol}} </div>
      <div> Last Price: {{stock.LastPrice}} </div>
      <div> High: {{stock.High}} </div>
      <div> Low: {{stock.Low}} </div>
      <br>
    </div>
  </div>
  <!-- Dynamic Bubble Chart -->
  <br>
  <h2> Dynamic Volatility Stock Portfolio </h2>
  <div layout="row">
    <canvas id="base" class="chart-bubble" chart-data="data" chart-series="series">
    </canvas>
  </div>
</div>
