<!-- Nav Bar -->
<div id='container'>
  <nav class="navigation">
    <ul>
      <li>
        <a href="#/dashboard">Dashboard</a>
      </li>
      <li>
        <a class="selected" href="#/stocks">Stocks</a>
      </li>
    </ul>
  </nav>
</div>
<!-- Stock Adder -->
<div ng-controller='StocksController'>
  <div class="searcher">
    <input type='text' ng-model='search' placeholder="Search for a Stock">
    <button type ='submit' ng-click='adder()'> Submit </button>
  </div>
  <div>
  {{searchData}}
  </div>
</div>
